.tweet {
  --lightGray:#ccc;
  box-sizing:border-box;
  margin:8px 6px 9px; /* sizes pulled from hi fidelity mock */
  border-top: 1px solid #ccc; 
  border-bottom: 1px solid #ccc;
  border-color: var(--lightGray); 
  display: grid;
  grid-template-columns:80px auto auto 1fr;
  grid-template-rows:auto auto;
  grid-template-areas: "avatar name username date" "avatar context context ." "message message message message" "expand expand expand expand";
  padding: 7px 5px; /* sizes pulled from hi fidelity mock */
  font-size: 15px; /* font sizes are estimated since hi-fi mock is a png and not a design file */
}
.tweet__avatar{
  grid-area: avatar;
  padding:2px;
  border:1px solid #ccc; 
  border-color:var(--lightGray);
  height: 48px;
  width: 48px;
  object-fit:cover; /* This is to allow the image to look good using fixed height and width regardless of user uploaded image aspect ratio normally image resizing serverside would be done. Limit actual image size, and if possible an automated cropping system as well. */
  object-position:center; 
}
.tweet__name{
  grid-area: name;
  font-weight:bold;
  color:#333;
  
}
.tweet__timestamp{
  grid-area:date;
  color:#5494fb;
  text-decoration:none;
  text-align: right;
}
.tweet__username{
  grid-area: username;
  color:#888;
}
.tweet__context{grid-area:context;}
.tweet__message{
  grid-area:message;
  color:#333;
}
.tweet__expand{
  grid-area: expand;
  text-align:right;
  width: fit-content;
  margin: 0 0 0 auto;
}
.tweet__expand summary{
  text-decoration:underline;
  list-style-image:none;
}
.tweet__expand summary::-webkit-details-marker {color: transparent;}