<!DOCTYPE html>
<html>
<head>
  <title>Tweet list question</title>
  <link rel="stylesheet" type="text/css" href="./styles/main.css">
<body>
  <main id="tweet-list">
    <section role="toolbar" aria-label="Manage Tweets">
      <h1>Tweet list</h1>
      <button id="add-tweet">Add</button>
      <button id="remove-tweet">Remove</button>
    </section>
    <section id="tweet-container" aria-label="List of tweets">
      <article class="tweet" v-for="(tweet, index) in feed" id="post-num">
        <img src="" alt="Profile picture" class="tweet__avatar">
        <span class="tweet__name">Joe Schmoe</span>
        <span class="tweet__username">@mrjoeschmoe</span>
        <span class="tweet__context"><span v-if="isReply">replied and </span>has <span class="tweet__followers">1,083</span> followers</span>
        <a href="/user/post-num" class="tweet__timestamp">
          Aug 8 2015
        </a>
        <div class="tweet__message">
          <p>Authentic four dollar toast disrupt. Pour-over swag blog, art party</p>
        </div>
        <details class="tweet__expand">
          <summary>Expand details</summary>
          Extra Details! The wireframes and doc don't explain what is intended to be here.
        </details>
      </article>
    </section>
  </main>
  
  <script src="./lib/dev-vue.js"></script>
  <!--<script src="./lib/vue.min.js"></script>   -->
  <script src="./lib/jquery-2.1.4.min.js"></script>
  <script src="./src/main.js"></script>
</body>
</html>
